@font-face {
	font-family: Orkney;
	src: url("../fonts/Orkney-Light.ttf");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: Orkney;
	src: url("../fonts/Orkney-Medium.ttf");
	font-weight: bold;
	font-display: swap;
}

* {
	scroll-behavior: smooth;
}

body {
	font-family: Orkney, SegoeUI, Futura, Helvetica, Tahoma, Geneva, sans-serif;
	color: #434d4e;
	font-size: 16px;
	line-height: 1.7em;
	margin: 0;
}

a {
	text-decoration: none;
	color: #007bc1;
}

a:hover {
	text-decoration: underline;
	color: #005c8e;
}

nav {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 600px;
	margin: auto;
	padding: 1em;
	height: 2em;
}

nav a img {
	width: 2.5em;
	height: 2.5em;
	border-radius: 100%;
	border: 1px solid #ddd;
}

nav .liens a {
	margin: 0 1em;
	color: #666;
}

header {
	margin: 3em 0;
}

main {
	max-width: 600px;
	margin: auto;
	padding: 0 1em;
}

h2 {
	margin: 0 0 1em 0;
	padding-top: 2em;
	font-size: 1.7em;
}

.item {
	margin: 3em 0;
}

.item > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1em;
}

.item img {
	width: 1.3rem;
	height: 1.3rem;
	margin-right: .5rem;
}

.item .tag {
	margin-left: 1em;
	text-align: right;
}

.item small {
	color: #418241;
	border: 1px solid #418241;
	border-radius: 4px;
	font-size: .7rem;
	margin: 0 .2em;
	padding: .2em .3em;
	cursor: default;
}

.item p {
	margin: .8em 0;
	line-height: 1.7em;
}

.retired {
	padding-left: 1em;
}

.sous-cat {
	margin: 3em 0;
}




.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 3em 0 2em 0;
}

.contacts div {
	padding: 1.5em;
	width: calc(50% - 3em);
    min-width: 200px;
}

.contacts h3 {
	margin: 0;
}

.contacts #mail {
	cursor: pointer;
}



.croquis {
	width: 150px;
	text-align: center;
	margin: auto;
}

.croquis img {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 1px solid #ddd;
}

.croquis small {
	color: #666;
}

ul li {
	margin: 2em 0;
}

.address {
	padding: 1em;
}

.address {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.address h4 {
	display: flex;
	align-items: center;
	margin: .5em 0;
}
.address h4 span {
	margin-left: .5em;
}

.address > img {
	max-width: 150px;
	margin: auto;
	padding: .5em;
	background: #fff;
	border-radius: 4px;
	color: #444;
}

.address > div {
	overflow: hidden;
	margin-top: 1em;
}

.address p {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    max-width: 400px;
    margin: 0;
}

.pgp h4 {
	margin: 2em 0 .5em 0;
}

.pgp p {
	margin: 0;
}

footer {
	margin-top: 3em;
	background-color: #222;
	padding: 1em;
	box-shadow: inset 0 .5rem .5rem -.5rem rgba(0,0,0,.5);
	text-align: center;
	color: #ccc;
}

footer div {
	display: inline-flex;
	text-align: left;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 2em;
}


footer div label {font-weight: bold;}

footer div select {
	margin: 0 1em;
	outline: none;
	min-width: 70px;
	border-radius: 4px;
	padding: .5em .2em;
	border: 1px solid #666;
	background: #fff;
	color: #444;
	transition: background .1s;
}

footer div select:focus {
	border: 1px solid #222;
	background: #fff;
	color: #222;
}

@media only screen and (max-width: 500px) {
	ul {
		padding-left: 1em;
	}
	blockquote {
		margin: 1em 0;
		padding: .25em .5em;
	}
	h4 {
		margin: .5em 0;
	}
}


/* NIGHTMODE LOL */

body#nit {
	background: #222;
	color: #bbb;
}

body#nit a {
	color: #0094e8;
}

body#nit a:hover {
	color: #006CAA;
}

body#nit nav .liens a,
body#nit .address a {
	color: #bbb;
}

body#nit nav .liens a:hover,
body#nit .address a:hover {
	color: #999;
}

body#nit nav a img,
body#nit .croquis img,
body#nit blockquote,
body#nit .address {
	border-color: #444;
}

body#nit .croquis small {
	color: #8a8a8a;
}

body#nit .item small {
	color: #60c660;
	border-color: #60c660;
}

body#nit footer {
	background: #111;
}

body#nit footer div select {
	border-color: #444;
	background: #222;
	color: #bbb;
}
body#nit footer div select:focus {
	border-color: #555;
	background: #333;
	color: #eee;
}



/* BLACKMODE */

body#bla {
	background: #000;
	color: #bbb;
}

body#bla a {
	color: #0094e8;
}

body#bla a:hover {
	color: #006CAA;
}

body#bla nav .liens a,
body#bla .address a {
	color: #bbb;
}

body#bla nav .liens a:hover,
body#bla .address a:hover {
	color: #999;
}

body#bla nav a img,
body#bla .croquis img,
body#bla blockquote,
body#bla .address {
	border-color: transparent;
}

body#bla img {
	filter: brightness(.8);
}

body#bla .address {
	filter: brightness(.8);
}

body#bla .item small {
	color: #7d7d7d;
	border-color: #7d7d7d;
}

body#bla footer {
	box-shadow: none;
	color: #777;
	background: #000;
} 

body#bla footer div select {
	border-color: #555;
	background: #000;
	color: #777;
}
body#bla footer div select:focus {
	border-color: #666;
	background: #111;
	color: #aaa;
}