$accent: #89b75c;
$big: 25px;

body {
	color: #333;
	background-color: #fff;
	font-family: 'Sumana', serif;
	max-width: 1200px;
	min-height: 90vh;
	display: flex;
	margin: auto;

	a {
		color: #333;
		line-height: 20px;
		text-decoration: none;
	}

	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;

		.card {
			.icon {
				width: 200px;
				height: 200px;
				background-color: $accent;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;

				h1 {
					line-height: 1em;
					font-size: 3em;
				}
			}

			.sub-text {
				color: $accent;
				line-height: 20px;
				text-align: center;
			}
		}

		.socials {
			margin-top: 2em;
			min-width: 250px;

			a {
				margin: 1em 0;
				line-height: $big;
				font-size: $big;
				display: flex;
				justify-content: center;
				width: 100%;
				transition: color 0.2s;

				span {
					width: 55%;

					&:nth-child(1) {
						width: 45%;
						text-align: right;
					}
				}
			}

			&:hover {
				a {
					color: #ccc;
					&:hover {
						color: #333;
					}
				}
			}
		}
	}

	.works {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40%;

		.annee {
			display: flex;

			> p {
				align-self: flex-end;
				font-family: 'Roboto Mono', monospace;
				color: $accent;
			}

			.liste {
				margin: 2em 0 0 2em;
			}

			.project {
				margin-top: 2em;

				h2 {
					color: #222;
					line-height: $big;
					font-size: $big;
					cursor: pointer;
					user-select: none;
					transition: all 0.3s;
				}

				.more {
					display: none;
				}

				&.opened {
					h2 {
						color: #333;
					}
					.more {
						display: block;
					}
				}
			}
		}

		&:hover {
			.project h2 {
				color: #ccc;
				&:hover {
					color: #333;
				}
			}
		}

		.links {
			display: flex;
			align-items: center;

			a {
				color: white;
				background-color: $accent;
				margin: 0 0.25em;
				padding: 0.2em 1em;
				font-family: 'Roboto', sans-serif;
				font-size: 0.8em;
				transition: all 0.2s;
				white-space: nowrap;
			}

			img {
				width: 1.5em;
				height: 1.5em;
				margin: 0.25em;
			}
		}

		.description {
			font-family: 'Roboto', sans-serif;
			color: #999;

			a {
				color: #999;
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 700px) {
	body {
		flex-direction: column;

		.contact,
		.works {
			width: 80%;
			margin: 20% 10%;
		}

		.works {
			.annee {
				flex-direction: column-reverse;

				p {
					align-self: center;
				}

				.liste {
					margin: 0;
				}
			}

			h2 {
				text-align: center;
			}

			.links {
				flex-wrap: wrap;
				justify-content: center;
			}

			.description {
				text-align: justify;
			}
		}
	}
}
