:root {
	--text: #333;
	--dim: #ccc;
	--bg: #fff;
	--accent: #89b75c;
	--hovered: #89b75c22;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #cacaca;
		--dim: #777;
		--bg: #2a2a2a;
		--accent: #728b59;
		--hovered: #728b5922;
	}
}

body {
	font-family: 'Sumana', serif;
	max-width: 1200px;
	min-height: 90vh;
	display: flex;
	margin: auto;
	color: var(--text);
	background-color: var(--bg);

	a {
		line-height: 20px;
		text-decoration: none;
		color: var(--text);
		transition: color 0.3s, opacity 0.3s;
	}

	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;

		.card {
			.icon {
				width: 200px;
				height: 200px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--accent);
				color: white;

				h1 {
					line-height: 1em;
					font-size: 3em;
				}
			}

			.sub-text {
				line-height: 20px;
				text-align: center;
				color: var(--accent);
			}
		}

		.socials {
			margin-top: 4em;
			min-width: 250px;

			a {
				margin-bottom: 1em;
				line-height: 25px;
				font-size: 25px;
				display: flex;
				justify-content: center;
				width: 100%;

				span {
					width: 55%;

					&:nth-child(1) {
						width: 45%;
						text-align: right;
					}
				}
			}

			&:hover {
				a {
					color: var(--dim);
					&:hover {
						color: var(--text);
					}

					&:active {
						opacity: 0.6;
					}
				}
			}
		}
	}

	.works {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40%;

		.annee {
			display: flex;

			> p {
				color: var(--accent);
				align-self: flex-end;
				font-family: 'Roboto Mono', monospace;
			}

			.liste {
				margin: 2em 0 0 2em;
			}

			.project {
				margin-top: 2em;

				h2 {
					line-height: 25px;
					font-size: 25px;
					cursor: pointer;
					user-select: none;
					transition: color 0.3s, opacity 0.3s;

					&:active {
						opacity: 0.6;
					}
				}

				.more {
					display: none;
				}

				&.opened {
					h2 {
						color: var(--text);
					}

					.more {
						display: block;
					}
				}
			}
		}

		.links {
			display: flex;
			align-items: center;

			a {
				margin: 0 0.25em;
				padding: 0.2em 1em;
				font-family: 'Roboto', sans-serif;
				font-size: 0.8em;
				transition: all 0.2s;
				white-space: nowrap;
				color: white;
				background-color: var(--accent);

				&:hover {
					background-color: var(--hovered);
					color: var(--accent);
				}

				&:active {
					opacity: 0.6;
				}
			}

			img {
				width: 1.5em;
				height: 1.5em;
				margin: 0.25em;
			}
		}

		.description {
			opacity: 0.8;
			max-width: 400px;
			font-family: 'Roboto', sans-serif;

			a {
				text-decoration: underline;
			}
		}

		&:hover {
			.project h2 {
				color: var(--dim);
				&:hover {
					color: var(--text);
				}
			}
		}
	}
}

@media (max-width: 700px) {
	body {
		flex-direction: column;

		.contact,
		.works {
			width: 80%;
			margin: 20% 10%;
		}

		.works {
			.annee {
				flex-direction: column-reverse;

				p {
					align-self: center;
				}

				.liste {
					margin: 0;
				}
			}

			h2 {
				text-align: center;
			}

			.links {
				flex-wrap: wrap;
				justify-content: center;
			}

			.description {
				text-align: justify;
				margin: auto;
				max-width: 350px;
			}
		}
	}
}
