:root {
	--text: #4c4b4a;
	--dim: #ccc;
	--bg: #fffcf2;
	--accent: #89b75c;
	--hovered: #89b75c22;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #cacaca;
		--dim: #777;
		--bg: #2a2a2a;
		--accent: #728b59;
		--hovered: #728b5922;
	}
}

body {
	font-family: 'Sumana', serif;
	max-width: 1200px;
	min-height: 90vh;
	display: flex;
	margin: auto;
	color: var(--text);
	background-color: var(--bg);

	a {
		line-height: 20px;
		text-decoration: none;
		color: var(--text);
		transition: color 0.1s, opacity 0.3s;
	}

	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;

		.card {
			.icon {
				width: 200px;
				height: 200px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--accent);
				color: white;
				border-radius: 20px;

				h1 {
					line-height: 1em;
					font-size: 3em;
				}
			}

			.sub-text {
				line-height: 20px;
				text-align: center;
				color: var(--accent);
			}
		}

		.socials {
			margin-top: 4em;

			> p,
			> a {
				margin: 0 0 1em 0;
				line-height: 25px;
				font-size: 25px;
				display: flex;
				width: 100%;
			}

			&:hover {
				a,
				p {
					color: var(--dim);
					&:hover {
						color: var(--text);
					}

					&:active:not(p) {
						opacity: 0.6;
					}
				}
			}
		}
	}

	.works {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 2em;

		.annee {
			display: flex;

			> p {
				color: var(--accent);
				align-self: flex-end;
				font-family: 'Roboto Mono', monospace;
				margin: 0;
			}

			.liste {
				margin: 2em 0 0 2em;
			}

			.project {
				padding-top: 2em;

				.title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 400px;
					cursor: pointer;

					h2 {
						margin: 0;
						line-height: 25px;
						font-size: 25px;
						user-select: none;
						transition: color 0.1s, opacity 0.3s;
					}

					> div {
						display: flex;
						align-items: center;
						opacity: 0.1;
						user-select: none;
						transition: opacity 0.1s;

						img {
							width: 1.5em;
							height: 1.5em;
							margin: 0.25em;
						}
					}

					&:hover {
						h2 {
							color: var(--text);
						}
						> div {
							opacity: 1;
						}
					}
				}

				.more {
					display: none;
					margin-top: 1em;
				}

				&.opened {
					padding-bottom: 1em;

					h2 {
						color: var(--text);
					}

					.title > div {
						opacity: 1;
					}

					.more {
						display: block;
					}
				}
			}
		}

		.description {
			opacity: 0.8;
			max-width: 400px;
			font-family: 'Roboto', sans-serif;

			a {
				text-decoration: underline;
			}
		}

		.links {
			display: flex;
			padding-top: 0.5em;

			a {
				margin-right: 5px;
				padding: 0.2em 1.5em;
				font-family: 'Roboto', sans-serif;
				font-size: 0.8em;
				transition: all 0.1s;
				white-space: nowrap;
				color: white;
				background-color: var(--accent);
				border-radius: 20px;

				&:active {
					opacity: 0.8;
				}
			}

			&:hover {
				a {
					filter: grayscale(1) brightness(0.9);

					&:hover {
						filter: grayscale(0);
						border-radius: 8px;
					}
				}
			}
		}

		&:hover {
			.project h2 {
				color: var(--dim);
				&:hover {
					color: var(--text);
				}
			}
		}
	}
}

@media (max-width: 700px) {
	body {
		flex-direction: column;

		.contact,
		.works {
			width: 80%;
			margin: auto;
			min-height: 100vh;
		}

		.works {
			margin-bottom: 50px;

			.annee {
				flex-direction: column-reverse;

				> p {
					padding: 2em 0;
					align-self: center;
				}

				.liste {
					margin: 0;
				}

				.project {
					.title {
						width: 100%;
					}

					.description {
						max-width: 100%;
					}
				}
			}
		}
	}
}
