---
import Header from '../../components/Header.astro'
import Intro from '../../components/Intro.astro'
import Contact from '../../components/Contact.astro'
import Card from '../../components/Card.astro'
import Layout from '../../layouts/layout.astro'
import '@fontsource-variable/dm-sans'
---

<Layout lang='fr' title="Salut ! C'est victor 👋" desc="Voici les projets sur lequels j'ai travaillé ces dernières années">
	<Header lang='fr'>
		<span slot='text'>Texte en</span>
		<span slot='lang'> français</span>
		<span slot='with'> avec un thème</span>
		<span slot='light'> clair</span>
		<span slot='dark'> sombre</span>
	</Header>

	<Intro>
		<span slot='greet'>Salut</span>
		<span slot='who'>C'est</span>
		<span slot='what'>un nouveau dev en ville !</span>
	</Intro>

	<Contact>
		<span>Mail</span>
	</Contact>

	<ul id='projects'>
		<Card lang='fr' homepage='https://bonjourr.fr' source='https://github.com/victrme/bonjourr'>
			<img slot='picture' src='./images/previews/bonjourr.webp' alt='preview of bonjourr' draggable='false' />
			<span slot='title'>Bonjourr</span>
			<span slot='category'>Extension</span>

			<img slot='tag' src='./images/tags/sass.svg' title='sass' alt='sass' draggable='false' />
			<img slot='tag' src='./images/tags/gulp.svg' title='gulp' alt='gulp' draggable='false' />
			<img slot='tag' src='./images/tags/typescript.svg' title='typescript' alt='typescript' draggable='false' />

			<span slot='description'>
				Bonjourr est une page d'accueil minimaliste pour naviguateur, pour firefox, chrome et safari. En collaboration
				avec Tahoe Beetschen.
			</span>
		</Card>

		<Card lang='fr' homepage='https://pocketeditor.victr.me' source='https://github.com/victrme/pocket-editor'>
			<img slot='picture' src='./images/previews/pocketeditor-light.webp' alt='preview of bonjourr' draggable='false' />
			<span slot='title'>Pocket editor</span>
			<span slot='category'>Npm package</span>

			<img slot='tag' src='./images/tags/npm.svg' title='npm' alt='npm' draggable='false' />
			<img slot='tag' src='./images/tags/typescript.svg' title='typescript' alt='typescript' draggable='false' />

			<span slot='description'>
				Éditeur de texte style Notion qui renvoie du markdown. Créé dans le but de charger aussi vite que du HTML pur.
			</span>
		</Card>

		<Card lang='fr' source='https://github.com/victrme/favicon-fetcher'>
			<img slot='picture' src='./images/previews/faviconfetcher-light.webp' alt='illustration' draggable='false' />
			<span slot='title'>Favicon Fetcher</span>
			<span slot='category'>API</span>

			<img slot='tag' src='./images/tags/npm.svg' title='npm' alt='npm' draggable='false' />
			<img slot='tag' src='./images/tags/typescript.svg' title='typescript' alt='typescript' draggable='false' />

			<span slot='description'>
				Fonction edge pour récupérer la meilleure favicon de n'importe quel site. Sert de remplacement pour le défunt
				favicon grabber.
			</span>
		</Card>

		<Card lang='fr' homepage='https://savonnerielacurieuse.com'>
			<img slot='picture' src='./images/previews/lacurieuse.webp' alt='preview of la curieuse' draggable='false' />
			<span slot='title'>La Curieuse</span>
			<span slot='category'>Website</span>

			<img slot='tag' src='./images/tags/tailwindcss.svg' title='tailwindcss' alt='tailwindcss' draggable='false' />
			<img slot='tag' src='./images/tags/astro.svg' title='astro' alt='astro' draggable='false' />

			<span slot='description'>
				Une page vitrine pour La Curieuse. Mis à jour avec Tailwind & Astro, pour un score parfait sur lighthouse !
			</span>
		</Card>

		<Card lang='fr' homepage='https://polytronome.victr.me' source='https://github.com/victrme/polytronome'>
			<img slot='picture' src='./images/previews/polytronome-light.webp' alt='preview of polytronome' draggable='false' />
			<span slot='title'>Polytronome</span>
			<span slot='category'>Webapp</span>

			<img slot='tag' src='./images/tags/react.svg' title='react' alt='react' draggable='false' />
			<img slot='tag' src='./images/tags/sass.svg' title='sass' alt='sass' draggable='false' />
			<img slot='tag' src='./images/tags/typescript.svg' title='typescript' alt='typescript' draggable='false' />

			<span slot='description'>
				Une page web où on peut ajouter plusieurs métronomes avec differents rythmes et voir ce que ça donne.
			</span>
		</Card>

		<Card lang='fr' source='https://github.com/victrme/portfolio'>
			<img slot='picture' src='./images/previews/portfolio-light.webp' alt='sketch of this portfolio' draggable='false' />
			<span slot='title'>Portfolio</span>
			<span slot='category'>Website</span>

			<img slot='tag' src='./images/tags/astro.svg' title='astro' alt='astro' draggable='false' />

			<span slot='description'>
				Cette version de mon portfolio avec la config Astro la plus petite possible. Accessibilité ameliorée depuis les
				dernières version.
			</span>
		</Card>

		<Card lang='fr' homepage='https://bombparty.victr.me' source='https://github.com/victrme/bombparty'>
			<img slot='picture' src='./images/previews/bombparty.webp' alt='illustration' draggable='false' />
			<span slot='title'>Bombparty Genius</span>
			<span slot='category'>Webapp</span>

			<img slot='tag' src='./images/tags/parcel.svg' title='parcel' alt='parcel' draggable='false' />
			<img slot='tag' src='./images/tags/typescript.svg' title='typescript' alt='typescript' draggable='false' />

			<span slot='description'>
				Petite page faite pour gagner au jeu bombparty de jklm.fun, ou juste lister des mots !
			</span>
		</Card>

		<Card lang='fr' source='https://github.com/victrme?tab=repositories'>
			<img slot='picture' src='./images/previews/others-light.webp' alt='list of repos' draggable='false' />
			<span slot='title'>i18n quotes, reward & more</span>
			<span slot='category'>Various</span>

			<img slot='tag' src='./images/tags/javascript.svg' title='javascript' alt='javascript' draggable='false' />
			<img slot='tag' src='./images/tags/typescript.svg' title='typescript' alt='typescript' draggable='false' />
			<img slot='tag' src='./images/tags/html.svg' title='html' alt='html' draggable='false' />

			<span slot='description'>
				D'autres mini web apps. Le code source et leur descriptions sont disponible sur leur repos.
			</span>
		</Card>
	</ul>
</Layout>
