---
import Projects from '../../components/Projects.astro'
import Contact from '../../components/Contact.astro'
import Header from '../../components/Header.astro'
import Layout from '../../layouts/layout.astro'
import Intro from '../../components/Intro.astro'
import Card from '../../components/Card.astro'
---

<Layout lang='fr' title="Salut ! C'est victor 👋" desc="Voici les projets sur lequels j'ai travaillé ces dernières années">
	<Header lang='fr'>
		<span slot='text'>Texte en</span>
		<span slot='lang'> français</span>
		<span slot='with'> avec un thème</span>
		<span slot='light'> clair</span>
		<span slot='dark'> sombre</span>
	</Header>

	<Intro wave='tope là' image='Selfie au Sancy'>
		<span slot='greet'>Salut</span>
		<span slot='who'>C'est</span>
		<span slot='what'>un nouveau dev en ville !</span>
	</Intro>

	<Contact label='Contactes moi sur'>Mail</Contact>

	<Projects label='A propos de mes projets'>
		<div id='main-project'>
			<Card>
				<h2 slot='title'>Bonjourr</h2>
				<span slot='category'>Extension</span>

				<span slot='description'>
					Une page d'accueil minimal pour chrome et firefox. Même avec toute cette personnalisation, elle reste
					toujours extrêmement légère. Avec plus de 100k utilisateurs heureux ! En collaboration avec <a
						href='https://tahoe.be'>tahoe.be</a
					>.
					<!-- <a>Read more about it</a>. -->
				</span>

				<a slot='link' href='https://bonjourr.fr/fr' lang='fr'>bonjourr.fr</a>
				<a slot='link' href='https://github.com/victrme/bonjourr'>source code</a>

				<img slot='tag' width='16' height='16' alt='' src='/images/tags/sass.svg' />
				<img slot='tag' width='16' height='16' alt='' src='/images/tags/gulp.svg' />
				<img slot='tag' width='16' height='16' alt='' src='/images/tags/typescript.svg' />

				<img
					slot='image'
					srcset='/images/previews/bonjourr-200w.webp 1x, /images/previews/bonjourr-340w.webp 2x'
					src='/images/previews/bonjourr-200w.webp'
					alt='bannière de bonjourr'
				/>
			</Card>

			<Card>
				<h3 slot='title'>Bonjourr API</h3>
				<span slot='category'>Cloudflare Worker</span>

				<span slot='description'>
					C'est le backend de Bonjourr. Il s'agit d'une collection de petits services regroupés dans une API REST.
					Reçoit actuellement des millions de requêtes par mois.
					<!-- <a>More on the changes it went through</a>. -->
				</span>

				<a slot='link' href='https://api.bonjourr.fr' lang='en'>api.bonjourr.fr</a>
				<a slot='link' href='https://github.com/victrme/bonjourr-apis'>source code</a>

				<img slot='tag' width='16' height='16' alt='' src='/images/tags/typescript.svg' />
				<img slot='tag' width='16' height='16' alt='' src='/images/tags/worker.svg' />
			</Card>

			<Card>
				<h3 slot='title'>bonjourr.fr</h3>
				<span slot='category'>Site statique</span>

				<span slot='description'>
					Un petit site de présentation et de documentation pour Bonjourr. Réalisé à l'origine par
					<a href='https://tahoe.be'>tahoe.be</a>, J'ai ensuite migré le site web de Gatsby vers Astro.
					<!-- <a>On why we had no choice but to migrate</a>. -->
				</span>

				<a slot='link' href='https://bonjourr.fr/fr/'>bonjourr.fr</a>
				<a slot='link' href='https://github.com/morceaudebois/bonjourr.fr'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/astro.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/html.svg' />
			</Card>
		</div>

		<h2>APIs et modules</h2>

		<div class='projects'>
			<Card>
				<h3 slot='title'>Pocket editor</h3>
				<span slot='category'>Node module</span>

				<span slot='description'>
					Editeur de texte de style Notion qui renvoie du markdown. Créé dans le but de charger aussi rapidement que
					du html pur.
					<!-- <a>On my first npm package</a>. -->
				</span>

				<a slot='link' href='https://pocketeditor.victr.me' lang='en'>pocketeditor.victr.me</a>
				<a slot='link' href='https://github.com/victrme/pocket-editor'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/npm.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/typescript.svg' />
			</Card>

			<Card>
				<h3 slot='title'>Favicon Fetcher</h3>
				<span slot='category'>API</span>

				<span slot='description'>
					Edge function pour récupérer la meilleure favicon de n'importe quel site web. Remplace le défunt favicon
					grabber.
					<!-- <a>About favicon APIs</a> -->
				</span>

				<a slot='link' href='https://favicon.victr.me'>favicon.victr.me</a>
				<a slot='link' href='https://github.com/victrme/favicon-fetcher'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/typescript.svg' />
			</Card>

			<Card>
				<h3 slot='title'>Search Suggestions</h3>
				<span slot='category'>API</span>

				<span slot='description'>
					Un ensemble de différents fournisseurs de suggestions de recherche avec la même sortie JSON. Optimisé pour
					Cloudflare Workers, mais fonctionne aussi comme un module node.
					<!-- <a>More about this API</a> -->
				</span>

				<a slot='link' href='https://suggestions.victr.me' lang='en'>suggestions.victr.me</a>
				<a slot='link' href='https://github.com/victrme/search-suggestions'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/typescript.svg' />
			</Card>
		</div>

		<h2>Sites et Webapps</h2>

		<div class='projects'>
			<Card>
				<h3 slot='title'>La Curieuse</h3>
				<span slot='category'>Site statique</span>

				<span slot='description'>
					Un site web vitrine pour la savonnerie La Curieuse. Mis à jour avec Tailwind & Astro. Score parfait sur
					lighthouse !
				</span>

				<a slot='link' href='https://savonnerielacurieuse.com' lang='fr'>savonnerielacurieuse.com</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/tailwindcss.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/svelte.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/astro.svg' />

				<img
					slot='image'
					srcset='/images/previews/savonnerie-200w.webp 1x, /images/previews/savonnerie-340w.webp 2x'
					src='/images/previews/savonnerie-200w.webp'
					alt='accueil de lacurieuse'
					loading='lazy'
				/>
			</Card>

			<Card>
				<h3 slot='title'>Polytronome</h3>
				<span slot='category'>Webapp</span>

				<span slot='description'>
					Une application web où vous pouvez ajouter plusieurs métronomes avec des rythmes différents pour voir ce
					que ça donne. J'ai appris que la marge de manœuvre de React entre "pas capable" et "overkill" est très
					faible.
				</span>

				<a slot='link' href='https://polytronome.victr.me' lang='en'>polytronome.victr.me</a>
				<a slot='link' href='https://github.com/victrme/polytronome'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/react.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/sass.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/typescript.svg' />

				<img
					slot='image'
					class='light-preview'
					srcset='/images/previews/polytronome-200w-light.webp 1x, /images/previews/polytronome-340w-light.webp 2x'
					src='/images/previews/polytronome-200w-light.webp'
					alt='polytronome interface'
					loading='lazy'
				/>
				<img
					slot='image'
					class='dark-preview'
					srcset='/images/previews/polytronome-200w-dark.webp 1x, /images/previews/polytronome-340w-dark.webp 2x'
					src='/images/previews/polytronome-200w-dark.webp'
					alt='polytronome interface'
					loading='lazy'
				/>
			</Card>

			<Card>
				<h3 slot='title'>Portfolio</h3>
				<span slot='category'>Website</span>

				<span slot='description'>
					Cette 6ème version de mon portfolio a été réalisée avec Astro avec la plus petite configuration possible.
					L'accessibilité a été améliorée par rapport aux versions précédentes.
				</span>

				<a slot='link' href='https://github.com/victrme/portfolio'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/astro.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/html.svg' />

				<img
					slot='image'
					class='light-preview'
					srcset='/images/previews/portfolio-200w-light.webp 1x, /images/previews/portfolio-340w-light.webp 2x'
					src='/images/previews/portfolio-200w-light.webp'
					alt='sketch of this portfolio'
					loading='lazy'
				/>
				<img
					slot='image'
					class='dark-preview'
					srcset='/images/previews/portfolio-200w-dark.webp 1x, /images/previews/portfolio-340w-dark.webp 2x'
					src='/images/previews/portfolio-200w-dark.webp'
					alt='sketch of this portfolio'
					loading='lazy'
				/>
			</Card>

			<Card>
				<h3 slot='title'>Bombparty Genius</h3>
				<span slot='category'>Webapp</span>

				<span slot='description'>
					Cette application web a été créée pour ne pas tricher à bombparty en changeant rapidement d'onglet, en
					écrivant les lettres demandées, et en écrivant le résultat dans votre jeu actuel. Même pas sûr que ça
					fonctionne en pratique.
				</span>

				<a slot='link' href='https://bombparty.victr.me' lang='fr'>bombparty.victr.me</a>
				<a slot='link' href='https://github.com/victrme/bombparty'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/vite.svg' />
			</Card>
		</div>

		<h2>Diverse forks, pages & autres projets</h2>

		<div class='projects'>
			<Card>
				<h3 slot='title'>@victr/<wbr />deepmerge</h3>
				<span slot='category'>Module fork</span>

				<a slot='link' href='https://www.npmjs.com/package/@victr/deepmerge'>npmjs</a>
				<a slot='link' href='https://github.com/victrme/deepmerge'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/typescript.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/npm.svg' />

				<span slot='description'>
					Un portage ESM de @fastify/deepmerge. Fastify a la meilleure implémentation de deepmerge, mais c'est
					seulement commonjs. Les types et les benchmarks fonctionnent correctement.
				</span>
			</Card>

			<Card>
				<h3 slot='title'>@victr/prism-live</h3>
				<span slot='category'>Module fork</span>

				<a slot='link' href='https://www.npmjs.com/package/@victr/prism-live'>npmjs</a>
				<a slot='link' href='https://github.com/victrme/prism-live'>source code</a>

				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/javascript.svg' />
				<img slot='tag' width='16' height='16' loading='lazy' alt='' src='/images/tags/npm.svg' />

				<span slot='description'>
					Editeur de code powered par Prism. J'ai prit de l'avance sur le développement de PrismJS/live en publiant
					un package fonctionnel. Le vieux Javascript prototypique est un style de codage très intéressant à
					travailler.
				</span>
			</Card>

			<Card>
				<img
					slot='picture'
					src='/images/previews/others-light.webp'
					loading='lazy'
					draggable='false'
					alt='screenshot du profil github'
					draggable='false'
				/>
				<h3 slot='title'>i18n quotes, shjs, et plus</h3>
				<span slot='category'>Divers</span>

				<span slot='description'>
					Il y a encore beaucoup de choses que je pourrais ajouter ici, mais votre doigt va se fatiguer à faire
					défiler les pages. Tous mes autres travaux sont dans <a href='https://github.com/victrme?tab=repositories'
						>mes dépots Github</a
					>.
				</span>
			</Card>
		</div>
	</Projects>
</Layout>
