.card {
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: 10px 10px 80px #4D709922;
    background-color: #fffd;
    padding: 3em;
    transition: transform 1s;
}

.links span {
    transition: margin-left .3s;
}

.navigator button svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: #3a3b3c;
}

.navigator button:not(.off):hover svg {
   fill: white
}

