---
import Layout from '../layouts/layout.astro'
---

<Layout lang='en' title='Hi ! This is victor 👋' desc='Here are the projects I worked on for the last few years'>
	<p>Not found, sad face emoji</p>
	<p>
		<a href='/'>back to home</a>
	</p>
</Layout>
