---
import Header from '../components/Header.astro'
import Intro from '../components/Intro.astro'
import Contact from '../components/Contact.astro'
import Card from '../components/Card.astro'
import Layout from '../layouts/layout.astro'
import '@fontsource-variable/dm-sans'
---

<Layout lang='en' title='Hi ! This is victor 👋' desc='Here are the projects I worked on for the last few years'>
	<Header lang='en'>
		<span slot='text'>Text in</span>
		<span slot='lang'>english</span>
		<span slot='with'> with a</span>
		<span slot='light'> light</span>
		<span slot='dark'> dark</span>
		<span slot='theme'> theme</span>
	</Header>

	<Intro>
		<span slot='greet'>Hi</span>
		<span slot='who'>This is</span>
		<span slot='what'>a new dev in town !</span>
	</Intro>

	<Contact>
		<span>Email</span>
	</Contact>

	<ul id='projects'>
		<Card lang='en' homepage='https://bonjourr.fr' source='https://github.com/victrme/bonjourr'>
			<img slot='picture' src='./images/previews/bonjourr.webp' alt='preview of bonjourr' draggable='false' />
			<span slot='title'>Bonjourr</span>
			<span slot='category'>Extension</span>
			<span slot='description'>
				Bonjourr is a minimal chrome and firefox homepage addon. In collaboration with Tahoe Beetschen.
			</span>

			<img slot='tag' src='./images/tags/sass.svg' title='sass' alt='sass' draggable='false' />
			<img slot='tag' src='./images/tags/gulp.svg' title='gulp' alt='gulp' draggable='false' />
			<img slot='tag' src='./images/tags/typescript.svg' title='typescript' alt='typescript' draggable='false' />
		</Card>
	</ul>
</Layout>
