---
import Header from '../components/Header.astro'
import Intro from '../components/Intro.astro'
import Contacts from '../components/Contacts.astro'
import Projects from '../components/Projects.astro'

import '@fontsource-variable/dm-sans'
---

<head>
	<title>Hi ! This is victor 👋</title>
	<meta name='description' content='Here are the projects I worked on for the last few years' />
	<meta charset='UTF-8' />
	<meta content='width=device-width, initial-scale=1.0' name='viewport' />
	<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
	<link href='/favicon-16x16.png' rel='icon' />
</head>

<Header />

<main>
	<Intro />
	<Contacts />
	<Projects />
</main>

<style>
	:root {
		--color-text: #3a3b3c;
		--color-accent: #458ee8;
		--color-shadow: #4d709922;
		--color-underline: #4d709922;
		--color-background: #f6fbfd;
		--color-card-background: #fffc;
		--color-image-background: linear-gradient(45deg, rgba(69, 142, 232, 0.6), rgba(69, 142, 232, 0.2));
	}

	:global([data-theme='dark']) {
		--color-text: #ddd;
		--color-accent: #458ee8;
		--color-shadow: #000;
		--color-underline: #666;
		--color-background: #000;
		--color-card-background: #111;
	}

	:global(*) {
		box-sizing: border-box;
	}

	:global(html),
	:global(body) {
		margin: 0;
		height: 100%;
		overflow-x: hidden;
		font-weight: 500;
		font-family:
			'DM Sans Variable',
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			'Open Sans',
			'Helvetica Neue',
			sans-serif;
		color: var(--color-text);
		background-color: var(--color-background);
		background-size: cover;
	}

	:global(a) {
		text-decoration: none;
		color: inherit;
	}

	:global(a),
	:global(button) {
		font-weight: inherit;
		font-size: inherit;
		font-family: inherit;
	}

	:global(button:focus-visible),
	:global(a:focus-visible) {
		outline: 3px solid var(--color-accent);
	}

	:global(svg) {
		display: block;
		width: 16px;
		height: 16px;
		fill: var(--color-text);
		outline: none;
	}

	main {
		position: relative;
		max-width: 60em;
		font-size: 20px;
		margin: 0 auto 12vh auto;
		overflow-x: hidden;
	}

	@media (max-width: 1200px) or (max-height: 901px) {
		main {
			font-size: 17px;
		}
	}

	@media (max-width: 950px) {
		main {
			width: 100%;
		}
	}

	@media (max-width: 500px) {
		main {
			font-size: 16px;
		}
	}
</style>
