---
import Contact from '../components/Contact.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/layout.astro'
import Intro from '../components/Intro.astro'
import Card from '../components/Card.astro'
---

<Layout lang='en' title='Hi ! This is victor 👋' desc='Here are the projects I worked on for the last few years'>
	<Header lang='en'>
		<span slot='text'>Text in</span>
		<span slot='lang'>english</span>
		<span slot='with'> with a</span>
		<span slot='light'> light</span>
		<span slot='dark'> dark</span>
		<span slot='theme'> theme</span>
	</Header>

	<Intro>
		<span slot='greet'>Hi</span>
		<span slot='who'>This is</span>
		<span slot='what'>a new dev in town !</span>
	</Intro>

	<Contact>
		<span>Email</span>
	</Contact>

	<div id='projects'>
		<div id='main-project'>
			<Card>
				<span slot='title'>Bonjourr</span>
				<span slot='category'>Extension</span>

				<span slot='description'>
					Bonjourr is a minimal chrome and firefox homepage addon. In collaboration with Tahoe Beetschen.
				</span>

				<p slot='more'>hello</p>

				<a slot='link' href='https://bonjourr.fr'>bonjourr.fr</a>
				<a slot='link' href='https://github.com/victrme/bonjourr'>source code</a>

				<img slot='tag' src='/images/tags/sass.svg' alt='' />
				<img slot='tag' src='/images/tags/gulp.svg' alt='' />
				<img slot='tag' src='/images/tags/typescript.svg' alt='' />

				<img
					slot='image'
					srcset='/images/previews/bonjourr-170w.webp 1x, /images/previews/bonjourr-340w.webp 2x'
					src='/images/previews/bonjourr-170w.webp'
					alt='preview of bonjourr startpage'
				/>
			</Card>

			<hr />

			<Card>
				<span slot='title'>Bonjourr API</span>
				<span slot='category'>Cloudflare Worker</span>

				<span slot='description'>
					C'est un backend qui renvoit du JSON principalement. Il est extremement optimisé avec plein de procédés
					utra moderne et compliqués.
				</span>

				<p slot='more'>hello</p>

				<a slot='link' href='https://api.bonjourr.fr' lang='en'>api.bonjourr.fr</a>
				<a slot='link' href='https://github.com/victrme/bonjourr-apis'>source code</a>

				<img slot='tag' src='/images/tags/worker.svg' loading='lazy' alt='' />
				<img slot='tag' src='/images/tags/typescript.svg' loading='lazy' alt='' />
			</Card>

			<hr />

			<Card>
				<span slot='title'>bonjourr.fr</span>
				<span slot='category'>Static site</span>

				<span slot='description'>
					Le site original a été fait par https://tahoe.be. Pour pouvoir corriger les problèmes de traductions que
					Gatsby nous a créés, j’ai du rewrite en Astro pour en faire un site statique façon blog.
				</span>

				<span slot='homepage'>bonjourr.fr</span>

				<a slot='link' href='https://bonjourr.fr'>bonjourr.fr</a>
				<a slot='link' href='https://github.com/morceaudebois/bonjourr.fr'>source code</a>

				<img slot='tag' src='/images/tags/astro.svg' loading='lazy' alt='' />
				<img slot='tag' src='/images/tags/html.svg' loading='lazy' alt='' />
			</Card>
		</div>

		<div>
			<h2>APIs and modules</h2>

			<Card>
				<span slot='title'>Pocket editor</span>
				<span slot='category'>Node modules</span>

				<span slot='description'>
					Notion-styled text editor that returns markdown. Created with the goal of loading as fast as pure html.
				</span>

				<a slot='link' href='https://pocketeditor.victr.me' lang='en'>pocketeditor.victr.me</a>
				<a slot='link' href='https://github.com/victrme/pocket-editor'>source code</a>

				<img slot='tag' src='/images/tags/npm.svg' loading='lazy' alt='' />
				<img slot='tag' src='/images/tags/typescript.svg' loading='lazy' alt='' />
			</Card>

			<hr />

			<Card>
				<span slot='title'>Favicon Fetcher</span>
				<span slot='category'>API</span>

				<span slot='description'>
					Edge function to fetch the best favicon from any websites. Replacement for the defunct favicon grabber.
				</span>

				<a slot='link' href='https://github.com/victrme/favicon-fetcher'>source code</a>

				<img slot='tag' src='/images/tags/typescript.svg' loading='lazy' alt='' />
			</Card>

			<hr />

			<Card>
				<span slot='title'>Search Suggestions</span>
				<span slot='category'>API</span>

				<span slot='description'>
					It is a bundle of different search suggestions providers with the same json output. Optimized for
					Cloudflare Workers, but also work as a standalone module.
				</span>

				<a slot='link' href='https://suggestions.deno.dev' lang='en'>suggestions.deno.dev</a>
				<a slot='link' href='https://github.com/victrme/search-suggestions'>source code</a>

				<img slot='tag' src='/images/tags/typescript.svg' loading='lazy' alt='' />
			</Card>
		</div>

		<div>
			<h2>Sites and Webapps</h2>
			<Card>
				<span slot='title'>La Curieuse</span>
				<span slot='category'>Website</span>

				<span slot='description'>
					A single page showcase website for the savonnerie La Curieuse. Updated with Tailwind & Astro. Perfect score
					on lighthouse !
				</span>

				<a slot='link' href='https://savonnerielacurieuse.com' lang='fr'>savonnerielacurieuse.com</a>

				<img slot='tag' loading='lazy' alt='' src='/images/tags/tailwindcss.svg' />
				<img slot='tag' loading='lazy' alt='' src='/images/tags/svelte.svg' />
				<img slot='tag' loading='lazy' alt='' src='/images/tags/astro.svg' />

				<img
					slot='image'
					srcset='/images/previews/savonnerie-170w.webp 1x, /images/previews/savonnerie-340w.webp 2x'
					src='/images/previews/savonnerie-170w.webp'
					alt='savonnerielacurieuse landing page'
					loading='lazy'
				/>
			</Card>

			<hr />

			<Card>
				<span slot='title'>Polytronome</span>
				<span slot='category'>Webapp</span>

				<span slot='description'>
					A webapp where you can add multiple metronomes with different rythms to see what it sounds like.
				</span>

				<a slot='link' href='https://polytronome.victr.me' lang='en'>polytronome.victr.me</a>
				<a slot='link' href='https://github.com/victrme/polytronome'>source code</a>

				<img slot='tag' loading='lazy' alt='' src='/images/tags/react.svg' />
				<img slot='tag' loading='lazy' alt='' src='/images/tags/sass.svg' />
				<img slot='tag' loading='lazy' alt='' src='/images/tags/typescript.svg' />

				<img
					slot='image'
					class='light-preview'
					srcset='/images/previews/polytronome-170w-light.webp 1x, /images/previews/polytronome-340w-light.webp 2x'
					src='/images/previews/polytronome-170w-light.webp'
					alt='polytronome'
					loading='lazy'
				/>
				<img
					slot='image'
					class='dark-preview'
					srcset='/images/previews/polytronome-170w-dark.webp 1x, /images/previews/polytronome-340w-dark.webp 2x'
					src='/images/previews/polytronome-170w-dark.webp'
					alt='polytronome'
					loading='lazy'
				/>
			</Card>

			<hr />

			<Card>
				<span slot='title'>Portfolio</span>
				<span slot='category'>Website</span>

				<span slot='description'>
					This version of my portfolio was made with Astro with the smallest config possible. Improved a11y from
					previous versions.
				</span>

				<a slot='link' href='https://github.com/victrme/portfolio'>source code</a>

				<img slot='tag' loading='lazy' alt='' src='/images/tags/astro.svg' />
				<img slot='tag' loading='lazy' alt='' src='/images/tags/html.svg' />

				<img
					slot='image'
					class='light-preview'
					srcset='/images/previews/portfolio-170w-light.webp 1x, /images/previews/portfolio-340w-light.webp 2x'
					src='/images/previews/portfolio-170w-light.webp'
					alt='sketch of this portfolio'
					loading='lazy'
				/>
				<img
					slot='image'
					class='dark-preview'
					srcset='/images/previews/portfolio-170w-dark.webp 1x, /images/previews/portfolio-340w-dark.webp 2x'
					src='/images/previews/portfolio-170w-dark.webp'
					alt='sketch of this portfolio'
					loading='lazy'
				/>
			</Card>

			<hr />

			<Card>
				<span slot='title'>Bombparty Genius</span>
				<span slot='category'>Webapp</span>

				<span slot='description'>
					Bonjourr is a minimal chrome and firefox homepage addon. In collaboration with Tahoe Beetschen.
				</span>

				<a slot='link' href='https://bombparty.victr.me' lang='fr'>bombparty.victr.me</a>
				<a slot='link' href='https://github.com/victrme/bombparty'>source code</a>

				<img slot='tag' loading='lazy' alt='' src='/images/tags/vite.svg' />
			</Card>
		</div>

		<div>
			<h2>Various forks, pages & other works</h2>

			<Card>
				<img
					slot='picture'
					src='/images/previews/others-light.webp'
					loading='lazy'
					draggable='false'
					alt='list of repos'
					draggable='false'
				/>
				<span slot='title'>i18n quotes, reward & more</span>
				<span slot='category'>Various</span>

				<a slot='link' href='https://github.com/victrme?tab=repositories'>all repositories</a>

				<img slot='tag' loading='lazy' alt='' src='/images/tags/javascript.svg' />
				<img slot='tag' loading='lazy' alt='' src='/images/tags/typescript.svg' />
				<img slot='tag' loading='lazy' alt='' src='/images/tags/html.svg' />

				<span slot='description'>
					Bonjourr is a minimal chrome and firefox homepage addon. In collaboration with Tahoe Beetschen.
				</span>
			</Card>
		</div>
	</div>
</Layout>
