<li class='card'>
	<picture class='card-image'>
		<slot name='image' />
	</picture>

	<div class='card-title'>
		<slot name='title' />

		<span class='card-tags'>
			<slot name='tag' />
		</span>

		<p class='card-category'>
			<slot name='category' />
		</p>
	</div>

	<div class='card-links'>
		<slot name='link' />
	</div>

	<p class='card-desc'>
		<slot name='description' />

		<button>more</button>
	</p>

	<div class='card-more'>
		<slot name='more' />
	</div>

	<hr />
</li>
