---
import ArrowRight from './ArrowRight.astro'
const { homepage, source, lang } = Astro.props
---

<li class='card'>
	<picture>
		<slot name='picture' />
	</picture>

	<div class='card-title'>
		<h2>
			<slot name='title' />
		</h2>

		<div class='card-tags'>
			<slot name='tag' />
		</div>
	</div>

	<p class='card-category'>
		<slot name='category' />
	</p>

	<p>
		<slot name='description' />
	</p>

	<div class='card-links'>
		<a href={homepage ? homepage : '#'} draggable='false'>
			<slot name='homepage' />
			<span class='arrow'>
				<ArrowRight />
			</span>
		</a>

		<a href={source ? source : '#'} draggable='false'>
			<span>{lang === 'fr' ? 'code source' : 'source code'}</span>
			<span class='arrow'>
				<ArrowRight />
			</span>
		</a>
	</div>
</li>
