---
import ArrowRight from './ArrowRight.astro'

const props = Astro.props
---

<li class='card'>
	<picture>
		<slot name='picture' />
	</picture>

	<div class='card-title'>
		<h2>
			<slot name='title' />
		</h2>

		<div class='card-tags'>
			<slot name='tag' />
		</div>
	</div>

	<p class='card-category'>
		<slot name='category' />
	</p>

	<p>
		<slot name='description' />
	</p>

	<div class='card-links'>
		<a href={props.homepage ? props.homepage : undefined} draggable='false'>
			<span>{props.lang === 'fr' ? 'page web' : 'homepage'}</span>
			<span class='arrow'>
				<ArrowRight />
			</span>
		</a>

		<a href={props.source ? props.source : undefined} draggable='false'>
			<span>{props.lang === 'fr' ? 'code source' : 'source code'}</span>
			<span class='arrow'>
				<ArrowRight />
			</span>
		</a>
	</div>
</li>
