<div class='card'>
	<picture class='card-image'>
		<slot name='image' />
	</picture>

	<div class='card-title'>
		<div class='card-heading'>
			<slot name='title' />

			<span class='card-tags'>
				<slot name='tag' />
			</span>
		</div>

		<slot name='category' />
	</div>

	<p class='card-links'>
		<slot name='link' />
	</p>

	<p class='card-desc'>
		<slot name='description' />
	</p>

	<hr />
</div>
