---
import ArrowRight from './ArrowRight.astro'
const { homepage, source, lang, image } = Astro.props
---

<li class={'card' + (image ? ' with-image' : '')}>
	{
		image && (
			<picture class='card-image'>
				<img
					slot='picture'
					src={`/images/previews/${image}`}
					loading='lazy'
					draggable='false'
					alt='preview of project'
					draggable='false'
				/>
			</picture>
		)
	}

	<div class='card-title'>
		<h3>
			<slot name='title' />

			<span class='card-tags'>
				<slot name='tag' />
			</span>
		</h3>

		<p class='card-category'>
			<slot name='category' />
		</p>
	</div>

	<div class='card-links'>
		<a href={homepage ? homepage : '#'} draggable='false'>
			<slot name='homepage' />
			<span class='arrow'>
				<ArrowRight />
			</span>
		</a>

		<a href={source ? source : '#'} draggable='false'>
			<span>{lang === 'fr' ? 'code source' : 'source code'}</span>
			<span class='arrow'>
				<ArrowRight />
			</span>
		</a>
	</div>

	<p class='card-desc'>
		<slot name='description' />

		<br /><br />

		<button>more</button>
	</p>

	<p class='card-more'>
		<slot name='more' />
	</p>
</li>
