---
const props = Astro.props

const en = props.lang === 'en'
const href = en ? '/fr' : '/'
const lang = en ? 'fr' : 'en'
---

<header>
	<div>
		<slot name='text' />

		<a href={href} lang={lang}>
			<slot name='lang' />
		</a>

		<slot name='with' />

		<button id='theme-btn-light'>
			<slot name='light' class='test' />
		</button>

		<button id='theme-btn-dark'>
			<slot name='dark' />
		</button>

		<slot name='theme' />
	</div>
</header>

<script>
	function setTheme(dark?: boolean) {
		if (dark === undefined) {
			const preferedColorScheme = window.matchMedia('(prefers-color-scheme: dark)').matches
			const storedColorScheme = localStorage.dark === 'true'

			dark = localStorage.dark === undefined ? !preferedColorScheme : !storedColorScheme
			localStorage.dark = dark
		}

		document.documentElement.dataset.theme = dark ? 'dark' : 'light'
	}

	setTheme(
		localStorage.dark === undefined
			? window.matchMedia('(prefers-color-scheme: dark)').matches
			: localStorage.dark === 'true'
	)

	document.getElementById('theme-btn-light')?.addEventListener('click', () => setTheme())
	document.getElementById('theme-btn-dark')?.addEventListener('click', () => setTheme())
	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => setTheme(e.matches))
</script>
