---
const props = Astro.props
---

<header>
	<div>
		<slot name='text' />
		<a href={props.lang === 'en' ? '/fr' : '/'}>
			<slot name='lang' />
		</a>
		<slot name='with' />
		<button type='button' id='theme-btn'> light</button>
		<slot name='theme' />
	</div>

	<!-- <div>
		<a href='https://victr.me/tiny'>>1kb portfolio</a>
	</div> -->
</header>

<script is:inline>
	function setTheme(theme) {
		localStorage.theme = theme
		document.documentElement.dataset.theme = theme
		document.getElementById('theme-btn').textContent = theme
	}

	setTheme(localStorage.theme ?? 'light')
	document.getElementById('theme-btn').onclick = () => setTheme(localStorage.theme === 'light' ? 'dark' : 'light')
</script>

<style>
	header {
		text-align: center;
		margin-top: 5vh;
		font-size: 15px;
		line-height: 1.75em;
	}

	button {
		border: none;
		padding: 0;
		color: var(--color-accent);
		background-color: transparent;
		cursor: pointer;
	}

	a,
	span,
	button {
		border-bottom: 0.15em solid transparent;
	}

	a {
		border-color: var(--color-underline);
	}

	a:hover,
	button:hover {
		color: var(--color-accent);
		border-bottom: 0.15em solid var(--color-accent);
	}

	@media (max-width: 500px) {
		header {
			font-size: 12.5px;
		}
	}
</style>
