---
const { wave, image } = Astro.props
---

<section id='intro'>
	<picture>
		<img
			srcset='images/intro/selfie-200w.webp 1x, images/intro/selfie-340w.webp 2x'
			src='images/intro/selfie-200w.webp'
			draggable='false'
			alt={image}
		/>
	</picture>

	<h1>
		<span>
			<slot name='greet' />
			<span id='wave' draggable='false' title={wave} aria-hidden='true'>
				<span> </span>
			</span>
		</span>
		<span>
			<slot name='who' />
			<strong>victor.azevedo,</strong>
		</span>
		<span>
			<slot name='what' />
		</span>
	</h1>
</section>
