<div id='intro'>
	<picture>
		<source type='image/avif' srcset='./images/intro/selfie.avif' />
		<img src='./images/intro/selfie.jpg' alt='A la montagne' draggable='false' />
	</picture>

	<h1>
		<span>
			<slot name='greet' />
			<span id='wave' draggable='false' title='high five'>
				<span></span>
			</span>
		</span>

		<span>
			<slot name='who' />
			<strong>victor.azevedo,</strong>
		</span>

		<span>
			<slot name='what' />
		</span>
	</h1>
</div>
