<div id='projects'>
	<slot />
</div>

<script>
	if (CSS.supports('selector(:has(p))')) {
		return
	}

	function toggleMore(event: Event) {
		const input = event.target as HTMLInputElement
		const path = [...event.composedPath()] as Element[]
		const card = path.find((node) => node?.className === 'card')
		const more = card?.querySelector<HTMLElement>('.card-more')

		if (more) {
			more.style.display = input?.checked ? 'initial' : 'none'
		}
	}

	for (const input of document.querySelectorAll('.card label input')) {
		input.addEventListener('input', toggleMore)
	}
</script>
