@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

* {
    font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color-text: #3a3b3c;
    --color-accent: #5196E8;
    --color-shadow: #4D709922;
    --color-background: #F6FBFD;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--color-background);
    overflow-x: hidden;
    background-size: cover;
}


a {
    text-decoration: none;
    color: inherit;
}


.card {
    padding: 3em;
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: .5em .5em 4em var(--color-shadow);
    background-color: #fffc;
    transition: transform .6s;
}

.navigator button svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: var(--text);
    outline: none;
}

.navigator button:not(:disabled):hover svg {
    fill: white
}

.navigator button:not(:disabled):active svg {
    transform: scale(.8);
}



